
* { margin:0; padding:0;}
body {
	color: #000;
	font-size:100%;
	background: #FF00E4;
}
h1 {
	font-family: 'ShoCard Caps NF';
	margin-bottom: 30px;
	font-size: 40pt;
	text-align: center;
	text-transform: uppercase;
}
#wrapper {
	position:relative;
	width:100%;
	max-width: 500px;
	height: calc(100vh - 60px);
	margin: 30px auto;
	padding: 0;
}

/* -- mercury gifs-- */

#mercury {
	display:block;
	position:absolute;
	top:250px;
	left:30px;
	margin:0 auto;
	width:90%;
	height:90%;
	background:url('../img/mercury.gif') no-repeat;
	background-size:100% auto;
	z-index:2;
}

/* -- onclick and truths box-- */
#truths {
  font-family: 'ShoCard Caps NF';
  position: relative;
  width: 100%;
  height: 50px;
  font-size:20px;
  text-align: center;
  padding-top:20px;
  background: #feeb43;
  border: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 40px;
  cursor:pointer;
}

#truths:hover {
	color:#266590;
	background:#fff;
}

::-webkit-input-placeholder { color: #438ec1; text-align: center;  }
:-moz-placeholder { color: #438ec1; text-align: center;  }
::-moz-placeholder { color: #438ec1; text-align: center;  }
:-ms-input-placeholder { color: #438ec1; text-align: center;  }